* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.mainWrapper {
  border: 2px solid green;
  background-image: url(../images/jellbeanA.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}
.mainWrapper nav {
  width: auto;
  height: 75px;
  margin: 10px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: flex-end;
  background-color: rgb(212, 173, 207);
  border-radius: 5px 50px;
  opacity: 0.9;
}
.mainWrapper nav a {
  padding: 2px;
  border-radius: 7px;
  font-size: 20px;
  color: #fffea5;
  margin: 20px;
}
.mainWrapper #contentBody {
  width: auto;
  min-height: 100%;
  margin: 20px 50px 10px 50px;
}
.mainWrapper #contentBody #candyHero {
  width: 100%;
  height: 200px;
  background-image: url(../images/lolipop.jpg);
  text-align: center;
  padding-top: 30px;
}
.mainWrapper #contentBody #candyHero h1 {
  color: #6e6cff;
  font-size: 50px;
}
.mainWrapper #contentBody #candyHero h2 {
  color: #6e6cff;
  font-size: 35px;
}
.mainWrapper #contentBody #contentContaner {
  border: 5px solid #c1cad6;
  border-radius: 10px;
  width: auto;
  min-height: 200px;
  background-color: rgba(212, 173, 207, 0.95);
  margin: 10px 20px auto 20px;
  display: flex;
  justify-content: center;
}
.mainWrapper #contentBody #contentContaner .singlCol {
  text-align: center;
}
.mainWrapper #contentBody #contentContaner .singlCol #HomeImg {
  margin: 20px;
  aspect-ratio: 16/9;
  background-size: cover;
  min-width: 75%;
  height: auto;
}
.mainWrapper #contentBody #contentContaner .contentCol {
  width: 50%;
  padding: 10px;
}
.mainWrapper #contentBody #contentContaner .contentCol .colImg {
  margin: 10px 5px;
  min-width: 20px;
  max-width: 500px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
}
